* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;

  }

  header {
    font-size: 80px;
    text-align: center;
  }
  h1 {
    text-align: center;


  }

 .flex-center {
    display: flex;
    justify-content: center;
    align-items:  center;
    
  }
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scooby {
    max-width: 250px;
    max-height: 250px;
}