* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
  }

  header {
    font-size: 80px;
    text-align: center;
  }
  h1 {
    text-align: center;
    display: none;

  }

 .flex-center {
    display: flex;
    justify-content: center;
    align-items:  center;
    
  }
